{% extends "header.html" %}
{% block content %}
<div class="container">
    <div class="row  justify-content-center">
        <div class="col-md-12">
            
            <h2>Campaign Blog</h2>
            <p>Read the latest updates from the campaign trail!</p>
            <h3><a href="/blog/{{post.id}}">{{ post.title }}</a></h3>
            <h6> on {{ post.date }}</h6>
            <div class = "container">
                {{ post.body|safe|linebreaks}}
            </div>
            <br><br>
        </div>
    </div>
</div>
{% endblock %}