{% extends 'header.html' %}
{% block content %}
<div class="container">
    <div class="row  justify-content-center">
        <div class = "col-md-10">
            <h2> {{question.question_text}}</h2>

            {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
            {% endif %}

            <!-- Form method is POST -->
            <form action="{% url 'polls:vote' question.id %}" method="post">
                {% csrf_token %}
                
                <!-- If user is authenticated, display choices -->
                {% if user.is_authenticated %}
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{
                        forloop.counter
                    }}" value="{{choice.id}}">
                    <label for="choice{{forloop.counter}}">
                        {{choice.choice_text}}
                    </label>
                    <br>
                    {% endfor %}
                    <br>
                    <input type="submit" value="Vote">
                {% else %}
                <!-- If user is not authenticated, display message -->
                    <p>You must be logged in to vote</p>
                    <a href="{% url 'user_auth:login' %}"> Login</a>
                {% endif %}
            </form>
            <br>
            <a href="{% url 'polls:index' %}">Back to polls</a>
        </div>
    </div>
</div>
{% endblock %}

