{% extends 'header.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class = "col-md-10 ">
            <h2> Polls</h2>
            {% if latest_question_list %}
            <ul>
                {% for question in latest_question_list %}
                <li>
                    <div class="card">
                        <a href = "{% url 'polls:detail' question.id %}"> 
                            {{ question.question_text }}
                        </a>
                        <p>Published on: {{ question.pub_date }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No polls are available.</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}